{% extends "bases/auth.j2" %}

{% block title %}Catálogos{% endblock title %}

{% block content %}
<div class="flex flex-col gap-6">
  <section class="flex flex-col gap-2">
    <h1 class="text-2xl">Nome da loja - TODO</h1>
    <div class="breadcrumbs text-sm">
      <ul>
        <li>Dashboard</li>
        <li>Catálogos</li>
      </ul>
    </div>

    <article class="grid grid-cols-1 gap-4 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
      <div class="card bg-primary shadow-xl text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>

      <div class="card bg-primary shadow-xl text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>

      <div class="card bg-primary shadow-xl text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>

      <div class="card bg-primary shadow-xl text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>
    </article>
  </section>

  <main>
    <div class="flex flex-col gap-2">
      <table class="table table-lg">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade Produtos</th>
            <th>Criado em</th>
          </tr>
        </thead>

        <tbody>
          {% for catalog in pagination.items %}
          <tr>
            <td>{{ catalog.name }}</td>
            <td>
              {% if let Some(description) = catalog.description %}
              {{ description }}
              {% else %}
              -
              {% endif %}
            </td>
            <td>{{ catalog.products.len() }}</td>
            <td data-date="{{ catalog.created_at }}"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="join self-end">
        <div class="tooltip" data-tip="Anterior">
          <button class="join-item btn btn-sm">
            «
          </button>
        </div>
        <button class="join-item btn btn-sm btn-active">{{ pagination.page }}</button>
        <div class="tooltip" data-tip="Próximo">
          <button class="join-item btn btn-sm">»</button>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock content %}

{% block scripts %}
<script>
  document.querySelectorAll("td[data-date]")?.forEach(el => {
    el.textContent = new Date(el.getAttribute("data-date")).toLocaleDateString('pt-br');
  });
</script>
{% endblock scripts %}