{% extends "bases/unauth.j2" %}

{% block title %}Health Check{% endblock title %}

{% block content %}
<main class="w-[100dvw] h-[100dvh] flex justify-center items-center">
  <h1 class="text-3xl">All <strong class="text-success">Healthy</strong>!</h1>
</main>
{% endblock content %}