{% extends "bases/unauth.j2" %}

{% block title %}Health Check{% endblock title %}

{% block content %}
<main class="w-[100dvw] h-[100dvh] flex justify-center items-center">
  <h1 class="text-3xl"><strong class="text-error">404</strong> - Not Found</h1>
</main>
{% endblock content %}