{% extends "bases/auth.j2" %}

{% block title %}Catálogos{% endblock title %}

{% block content %}
<div class="flex flex-col gap-6">
  <div class="breadcrumbs text-sm">
    <ul>
      <li>Dashboard</li>
      <li>Catálogos</li>
    </ul>
  </div>

  <section class="flex flex-col gap-2">
    <h1 class="text-2xl">Catálogos</h1>

    {# <article class="grid grid-cols-1 gap-4 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
      <div class="card bg-primary shadow-xl text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>

      <div class="card bg-primary shadow-xl text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>

      <div class="card bg-primary shadow-xl text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>

      <div class="card bg-primary shadow-xl text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Card title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
      </div>
    </article> #}
  </section>

  <main>
    {% include "./table.j2" %}
  </main>
</div>
{% endblock content %}

{% block scripts %}
<script>
  document.querySelectorAll("td[data-date]")?.forEach(el => {
    el.textContent = new Date(el.getAttribute("data-date")).toLocaleDateString('pt-br');
  });
</script>
{% endblock scripts %}