<div id="catalogs-table" class="flex flex-col gap-2">
  <table class="table table-lg">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Quantidade Produtos</th>
        <th>Criado em</th>
      </tr>
    </thead>

    <tbody>
      {% for catalog in pagination.items %}
      <tr>
        <td>{{ catalog.name }}</td>
        <td>
          {% if let Some(description) = catalog.description %}
          {{ description }}
          {% else %}
          -
          {% endif %}
        </td>
        <td>{{ catalog.products.len() }}</td>
        <td data-date="{{ catalog.created_at }}"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="join self-end">
    <div class="tooltip" data-tip="Anterior">
      {% if pagination.has_previous_page() %}
      <button class="join-item btn btn-sm" hx-trigger="click"
        hx-get="/dashboard/catalogs?kind=table&page={{ pagination.page - 1 }}&limit={{ pagination.limit }}"
        hx-swap="outerHTML" hx-target="#catalogs-table">«</button>
      {% else %}
      <button class="join-item btn btn-sm btn-disabled">«</button>
      {% endif %}
    </div>

    {% for page in pagination.pages() %}
    {% if page == pagination.page %}
    <button class="join-item btn btn-sm btn-active">
      {{ page}}
    </button>
    {% else %}
    <button class="join-item btn btn-sm" hx-trigger="click"
      hx-get="/dashboard/catalogs?kind=table&page={{ page }}&limit={{ pagination.limit }}" hx-swap="outerHTML"
      hx-target="#catalogs-table">
      {{ page}}
    </button>
    {% endif %}
    {% endfor %}

    <div class="tooltip" data-tip="Próximo">
      {% if pagination.has_next_page() %}
      <button class="join-item btn btn-sm" hx-trigger="click"
        hx-get="/dashboard/catalogs?kind=table&page={{ pagination.page + 1 }}&limit={{ pagination.limit }}"
        hx-swap="outerHTML" hx-target="#catalogs-table">»</button>
      {% else %}
      <button class="join-item btn btn-sm btn-disabled">»</button>
      {% endif %}
    </div>
  </div>
</div>