{% import "./components/icons.j2" as icons %}

<form method="dialog">
  <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
    {% call icons::xmark() %}
  </button>
</form>

<h3 class="text-lg font-bold">Confimar exclusão</h3>

<div class="py-4">
  <p class="text-base">
    Este adicional será excluído de todos os produtos. Tem certeza que deseja excluir o adicional
    <strong>{{+ extra.name }}</strong>?
  </p>
</div>

<div class="modal-action w-full justify-between gap-4">
  <form method="dialog">
    <button class="btn">Cancelar</button>
  </form>

  <button class="btn btn-error" hx-delete="/dashboard/extras/{{ extra.id }}">Confirmar</button>
</div>