<!DOCTYPE html>
<html lang="en" data-theme="fantasy">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Online shop made easy" />
  <meta name="keywords" content="Shop, E-Commerce" />
  <meta name="author" content="Hironha" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/dashboard/assets/main.css" />
  <title>{% block title %}Shop{% endblock title %}</title>
</head>

<body>
  {% block content %}{% endblock content %}
</body>

</html>